/* common  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
.contained70{
    width: 70%;
    margin: 0 auto;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
i {
    margin-right: 2%;
}
hr {
    border-top: 1px solid black;
}

/* HEADER  */
.head-top,
.head-bot {
    padding: 1.5% 0;
}
section:first-child {
    background: #F4F9FD;
}
section:last-child {
    background: white;
}
.cell-head {
    display: inline-block;
    width: 50%;
}
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.right-align i {
    color: #06A6BE;
}
/* specifico border per prima cella top  */
#bd-left {
    border-left: 1px solid black;
    padding-left: 4%;
    margin-left: 2%;
}

/* specifiche bottoni - links */
header a {
    text-decoration: none;
    color: #33475B;
}
div.left-align a:hover {
    text-decoration: underline;
}
.btn {
    padding: 1.5%;
    border: 1px solid;
    border-radius: 5px;
}
.btn:hover {
    opacity: 0.5;
}
.trasparent-btn {
    color: #FE775A;
    margin: 0px 2%;
}
.orange-btn {
    background-color: #FE775A;
    color: white;
}

}

