/* common  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
.contained70{
    width: 70%;
    margin: 0 auto;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right
}
.uppercase {
    text-transform: uppercase;
}

/* HEADER  */
.head-top,
.head-bot {
    padding: 1.5% 0;
}
header section:first-child {
    background: #F4F9FD;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 2;
}
header section:nth-child(2) {
    background: white;
    margin-top: 67px;
}
.cell-head {
    display: inline-block;
    width: 50%;
}
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
i {
    padding-right: 1%;
}
.right-align p i {
    color: #06A6BE;
}
/* specifico border per prima cella top  */
#bd-left {
    border-left: 1px solid black;
    padding-left: 4%;
    margin-left: 2%;
}
/* specifiche bottoni - links */
a {
    text-decoration: none;
    color: #33475B;
}
div.left-align a:hover,
li > a:hover {
    text-decoration: underline;
}
.btn {
    padding: 1.5%;
    border: 1px solid;
    border-radius: 10px;
}
.btn:hover {
    opacity: 0.5;
}
.trasparent-btn {
    color: #FE775A;
    margin: 0px 2%;
}
.orange-btn {
    background-color: #FE775A;
    color: white;
}
.big-btn {
    padding: 20px 35px;
    font-size: small;
}
ul li {
    display: inline-block;
    list-style-type: none;
    margin: 1%;
}
li i {
    padding: 0 10px;
}

/* JUMBOTRON  */
section.jumbotron {
    position: relative;
    background: url(../img/jumbotron.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}
.jumbotron-text {
    display: inline-block;
    width: 50%;
    color: #33475B;
    margin: 5% 0;
}
.jumbotron-text > h1 {
    font-size: 300%;
    margin-bottom: 5%;
}
.jumbotron-text > p,
.contained-center > p,
.main-uno > p {
    font-size: 95%; 
    line-height: 170%;
    margin-bottom: 7%;
}
.jumbotron-text > span {
    display: block;
    margin: 8% 0;
    font-size: 70%;
}
.green-line {
    position: absolute;
    height: 70px;
    width: 100%; 
    bottom: 0; 
    background-color: #7BDED2;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
}

/* main 1/3 container */
main>section:first-child {
    background-color: #F4F9FD;
    height: 1500px;
    padding: 3% 0;
    color:#33475B;
}
.contained-center {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    color: #33475B;
}
div.contained-center > img {
    width: 30%;
}
h2 {
    font-size: 30px;
    margin: 2% 0;
}

/* main 1/3 head BOX  */
main section:nth-child(2) {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    padding: 5%;
}
.main-box {
    display: inline-block;
}
.main-box > img {
    width: 45%;
    margin: 5%;
}
.main-box:first-child { /* tab di sinistra */ 
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 30%;
}
.main-box:last-child { /* tab di destra */ 
    vertical-align: middle;
    display: inline-block;
    width: 68%;
}
h3 {
    font-size: 140%;
    margin: 2% 0;
}
h4 {
    margin: 2% 0;
}
.main-box > p {
    margin: 3% 0;
    padding-right: 5%;
    font-size: 95%; 
    line-height: 170%;
}


